@import '../../styles/theme.scss';

.wrapper {
    text-align: center;
    height: 100%;
    position: relative;
    padding: 4rem;

    .header {
        text-align: center;
        height: 100%;
        position: relative;

        h1 {
            font-size: 3rem;
            text-shadow: 2px 2px 4rem $pinhoColorSecondary;
        }

        h5 {
            color: $pinhoColorMain;
        }
    }
}