@import "theme.scss";

:root {
    --pinhoMainColor: #a020f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $pinhoColorWhite;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(90deg, $pinhoColorBg 21px, transparent 1%) 50%, linear-gradient($pinhoColorBg 21px,transparent 1%) 50%,$pinhoColorSecondary;
    background-size: 22px 22px;
    overflow-x: hidden;
}

a {
    color: $pinhoColorOrange;
    text-decoration: none;

    &:hover {
        color: lighten($pinhoColorOrange, 50);
    }
}
