@import "theme";

.container {
    padding: 0 2rem;

	main {
		min-height: 100vh;
		padding: 4rem 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.codeblock {
		display: block;
		padding: 8px;
		background: #e8e1dc;
		width: 100%;
		font-size: 18px;
		border-radius: 6px / 6px;
	}
}

@keyframes rotateDrop {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(25deg);
	}

	100% {
		transform: rotate(15deg);
	}
}

@-webkit-keyframes rotateDrop {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(25deg);
	}

	100% {
		transform: rotate(15deg);
	}
}

@-moz-keyframes rotateDrop {
	0% {
		transform: rotate(0deg);
	}

	90% {
		transform: rotate(25deg);
	}

	100% {
		transform: rotate(15deg);
	}
}
