$pinhoColorBg: #342e4e;
$pinhoColorBgSecondary: #2c2c6c;
$pinhoColorMain: #7c7ddb;
$pinhoColorSecondary: #5865f2;
$pinhoColorWhite: #fff;
$pinhoColorLight: rgba(255, 255, 255, 0.6);
$pinhoColorOrange: #FC9D03;

$pinhoWidthLg: 75%;
$pinhoWidthMd: 86%;
$pinhoWidthSm: 90%;

$transition: all 400ms ease;